/* Variables */

:root {
    --sans-serif: "Montserrat";
    --dark-blue: #213242;
    --light-blue: #EDF1FE;
    --yellow: #E7B90C;
    --grey: #f4f4f4;
}

body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: var(--sans-serif);
    color: var(--dark-blue);
}


/* General */

.main-section {
    min-height: 100vh;
}

.my-button {
    background-color: var(--dark-blue);
    border: 2px solid transparent;
    color: var(--light-blue);
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 0.9rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.my-button:focus {
    outline: none;
}

.my-button:hover {
    background-color: transparent;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
}

.my-button-alt {
    background-color: transparent;
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 0.9rem;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.my-button-alt:focus {
    outline: none;
}

.my-button-alt:hover {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    border: 2px solid transparent;
}


/* Navbar */
.navbar {
    box-shadow: 0px 4px 20px rgba(146, 146, 146, 0.3);
    background-color: var(--dark-blue);
}

.navbar-brand img {
    height: 40px;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

#logout-button {
    color: var(--light-blue) !important;
    margin-right: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent !important;
    border: none;
}

.logout-form {
    padding-top: 0;
}

#logout-button i {
    padding-left: 10px;
    color: var(--light-blue);
}

.nav-link img {
    width: 1.5rem;
}



/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--light-blue);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 100px 1% 5% 2%;
    box-shadow: 0px 4px 20px rgba(146, 146, 146, 0.3);
    background-color: var(--grey);
}

.sidebar h5 {
    border-bottom: 1px solid var(--dark-blue);
    padding-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    padding-top: 20px;
}

.sidebar-item {
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px 0;
}

.sidebar-item i {
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    opacity: 0.5;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.sidebar-item p {
    margin: 0;
    padding-left: 5px;
}

.sidebar-item.active p {
    font-weight: 500;
}

.sidebar img {
    width: 1.2rem;
}


.sidebar-item:hover i {
    opacity: 1;
}


.sidebar-sub-item {
    padding-left: 10px;
    cursor: pointer;
    display: flex;
}

.sidebar-sub-item.active {
    font-weight: 500;
}

.sidebar-sub-item p {
    margin-bottom: 5px;
}

.sidebar-sub-item span {
    color: var(--yellow);
    font-weight: 700;
    margin-right: 5px;
}

.hide-filter-recipe-type {
    display: none;
}

/* notifications */
.notify-bar {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
    overflow: hidden;
    z-index: 200;
}

.notify-bar p {
    font-size: 1.05rem;
    margin: 0;
    padding: 5px;
}

.notify-bar img {
    width: 20px;
    height: 100%;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 50, 66, 0.95);
    z-index: 2000;
    display: none;
}

.loader>div {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.loader img {
    width: 5vw;
    animation: loader-spin 1s infinite;
    -webkit-animation: loader-spin 1s infinite;
}

.loader p {
    margin-top: 20px;
    font-weight: 500;
    color: var(--light-blue);
}

@keyframes loader-spin {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

/* Modal */

.modal-body span {
    font-weight: 500;
}


/* --------------------------------------- */

/* MAIN */

main {
    padding-top: 100px;
    display: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.main-container {
    padding-bottom: 100px;

}

main.active {
    display: block;
}

.main-heading {
    border-bottom: 2px solid var(--light-blue);
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-heading h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

.main-item-grid {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.main-item-grid .grid-item {
    background-color: var(--light-blue);
}

/* Grid Items */

.recipes-grid>p {
    text-align: center;
    margin: auto;
}

.home-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.home-grid-item .recipe-img {
    height: 25vh;
    width: 25vh;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.home-grid-item h4 {
    font-size: 1.1rem;
    text-align: center;
    padding: 10px 5% 0 5%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.recipe-options {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(33, 50, 66, 0.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0 10%;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.recipe-img {
    position: relative;
}

.recipe-img p {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--light-blue);
    padding: 1px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 500;
    font-size: 0.7rem;
}

.home-grid-item:hover .recipe-options {
    opacity: 1;
}

.recipe-options i {
    color: var(--light-blue);
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    padding: 5px;
}

.recipe-options i:hover {
    color: var(--yellow);
}


/* Add/Edit recipe Form */

form {
    padding-top: 30px;
}

.form-group {
    padding-bottom: 10px;
}

form input,
form textarea,
form select {
    border: 1px solid var(--dark-blue) !important;
    color: var(--dark-blue) !important;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border: 1px solid var(--yellow) !important;
    box-shadow: none !important;
}

.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
    border: 0.5px solid var(--dark-blue) !important;
}

form label {
    font-weight: 500;
}

.add-recipe-form {
    padding-top: 30px;
}

#form-sizes {
    padding: 5px;
    margin-left: 0px;
}

#form-sizes label {
    margin-right: 10px;
    margin-left: 2px;
}

.ingredients {
    padding: 0 15px;
}

.ingredients .row {
    display: flex;
    align-items: center;
}

.ingredients .row i {
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.ingredients .row i:hover {
    color: var(--yellow);
}

.delete-button {
    background-color: transparent;
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    padding: 7px 15px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.delete-button:focus {
    outline: none;
}


.edit-image-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.edit-image-container img {
    height: 30vh;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 20px;
}

/* ------------------- */

/* Login Page*/

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    padding-top: 60px;
}

.form-signin input {
    margin-bottom: 20px;
}

.form-signin h1 {
    font-size: 1.5rem;
    font-weight: 500;
}